// colors
$hback-color: #fdfdfe;
$main-color: #2500f9;
$second-color: #feaa25;
$third-color: #fe6282;
$fourth-color: #2ecbc5;
$fifth-color:#242f51;
$six-color: #88898d;

// fonts-size
$font-size: 0.90rem;
$big-font-size:3.5rem;
$mid-font-size: 1.7rem;
